@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

html {
  font-size: 18px; /* You can adjust this value as needed */
}

body {
  margin: 0;
  font-family: -apple-system, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  /* font-size: 1.125rem; */
  color: #1b1c1d;
}

#content,
#postamble {
  margin: 1rem auto;
  padding: 0 1rem;
  max-width: 1024px;
}

#org-div-home-and-up {
  float: right;
  padding-right: 1rem;
  position: sticky;
  top: 1rem;
}


/* Heading Styles */
h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Paragraph Styles */
p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1em;
}

/* Code Styles */
code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  background-color: #f4f4f4;
  padding: 0.2em 0.5em;
  border-radius: 3px;
}

/* List Styles */
ul, ol {
  margin-bottom: 1em;
  padding-left: 2em;
}

li {
  margin-bottom: 0.5em;
}

th {
  text-align: left;
}

td {
  /* padding: 1em 2em; */
}

table td:first-child {
  font-size: 1.333rem;
}

.lang-zh {
  font-size: 1.67rem;
  color: #030303;
  display: block;
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 200;
  font-style: normal;
}

.lang-en,
.lang-pi {
  display: block;
  opacity: 0;
}

.lang-block p {
  margin: 0;
}

.lang-en {
  color: #222;
}

.lang-pi {
  color: #777;
  line-height: 1em;
  font-size: 0.889rem;
}

.lang-block p:hover .lang-pi {
  visibility: visible;
  opacity: 1;
}

.lang-en:hover {
  visibility: visible;
  opacity: 1;
}

.lang-en-visible .lang-en,
.lang-pi-visible .lang-pi {
  visibility: visible;
  opacity: 1;
}

.lang-block {
  position: relative;
}

.sentences p::before {
  position: absolute;
  left: -0.875em;
  padding-top: 0.75em;
  color: #777;
  font-size: 0.889rem;
}

.sentences p:nth-child(odd)::before {
  content: 'A: ';
}

.sentences p:nth-child(even)::before {
  content: 'B: ';
}

.sentences .monologue p:nth-child(odd)::before {
  content: '';
}

.sentences .monologue p:nth-child(even)::before {
  content: '';
}

/* a::before { */
/*   content: '🔗'; */
/* } */

td.td-invisible {
  opacity: 0;
}

.vocabulary th {
  cursor: pointer;
}

.vocabulary td.td-invisible:hover {
  border-bottom: dotted 2px green;
  color: rgba(0, 0, 0, 0);
  opacity: 0.75;
  cursor: pointer;
}

table .table-number {
  display: none;
}

table caption {
  white-space: nowrap;
  /* text-align: left; */
}

.vocabulary table {
  min-width: 33%;
  margin-bottom: 1rem;
}

/* do not wrap Chinese  */
.vocabulary tbody td:first-child {
  white-space: nowrap;
}

table td {
  padding: 3px 5px;
}


#speech-options div {
  display: none;
}

#speech-options.not-supported div.no-support {
  display: block;
  font-size: 0.9em;
  color: #777;
}

#speech-options.supported div.options {
  display: block;
}
